nav.bar a:not(.yex, .active):hover, nav.bar button:hover {
  color: #FFD700;
  text-shadow: 0px 0px 8px var(--theme-clr);
  transform: scale(1.05) translateY(-5%);
} 

nav.bar .active {
  color: #FFD700;
  text-shadow: 0px 0px 8px var(--theme-clr);
}

nav.bar h2:hover {
	color: #FFD700;
	animation-duration: 0.5s;
    text-shadow: 0px 0px 5px var(--theme-clr);
}
